html {
    font-family: -apple-system, PingFang SC, Hiragino Sans GB, Arial, Microsoft YaHei, Helvetica Neue, sans-serif;
}

html, body, header, section, footer, div, ul, ol, li, img, a, span, em, del, legend, center, strong, var, fieldset, form, label, dl, dt, dd, cite, input, hr, time, mark, code, figcaption, figure, textarea, h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    border: 0;
    padding: 0;
    font-style: normal;
}

html, body {
    -webkit-touch-callout: none;
    -webkit-text-size-adjust: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-user-select: none;
    background-color: #fff;
}

nav, article, aside, details, main, header, footer, section, fieldset, figcaption, figure {
    display: block;
}

img, a, button, em, del, strong, var, label, cite, small, time, mark, code, textarea {
    display: inline-block;
}

header, section, footer {
    position: relative;
}

ol, ul {
    list-style: none;
}

input, button, textarea {
    border: 0;
    margin: 0;
    padding: 0;
    font-size: 1em;
    line-height: 1em;
    background-color: rgba(0, 0, 0, 0);
}

span {
    display: inline-block;
}

a:active, a:hover {
    outline: 0;
}

a, a:visited {
    text-decoration: none;
}

label, .wordWrap {
    word-wrap: break-word;
    word-break: break-all;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

td, th {
    padding: 0;
}

.hover{
  opacity: .5;
}

/*导航*/

footer {
    height: 52px;
    background: #f2f2f2;
}

.footerNav {
    height: 52px;
    background: #f2f2f2;
    border-top: 1px solid #e2e2e2;
    position: fixed;
    width: 100%;
    bottom: 0px;
}

.footerNav ul {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-flex-flow: row;
    flex-flow: row;
}

.footerNav ul li {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
    text-align: center;
    font-size: 13px;
}

.footerNav ul li a {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-flex-flow: column;
    flex-flow: column;
    /*color: #a4b0b9;*/
    display: block;
}


/*.footerNav ul li a.active {
    color: #00568f;
}*/

.footerNav ul li:nth-child(1) a span {
    background: url(http://c2.gasgoo.com/app/en/image/nav/news.png) no-repeat center;
    height: 29px;
    background-size: 25px;
    display: block;
    margin-top: 3px;
}

.footerNav ul li:nth-child(2) a span {
    background: url(http://c2.gasgoo.com/app/en/image/nav/b2b.png) no-repeat center;
    height: 29px;
    background-size: 25px;
    display: block;
    margin-top: 3px;
}

.footerNav ul li:nth-child(3) a span {
    background: url(http://c2.gasgoo.com/app/en/image/nav/mine.png) no-repeat center;
    height: 29px;
    background-size: 25px;
    display: block;
    margin-top: 3px;
}

.footerNav ul li:nth-child(1) a.active span {
    background: url(http://c2.gasgoo.com/app/en/image/nav/news_active.png) no-repeat center;
    height: 29px;
    background-size: 25px;
    display: block;
    margin-top: 3px;
}

.footerNav ul li:nth-child(2) a.active span {
    background: url(http://c2.gasgoo.com/app/en/image/nav/b2b_active.png) no-repeat center;
    height: 29px;
    background-size: 25px;
    display: block;
    margin-top: 3px;
}

.footerNav ul li:nth-child(3) a.active span {
    background: url(http://c2.gasgoo.com/app/en/image/nav/mine_active.png) no-repeat center;
    height: 29px;
    background-size: 25px;
    display: block;
    margin-top: 3px;
}
