<widget id="A6068039290641" version="0.0.1">
    <name>ChinaAuto Gasgoo.com</name>
    <description>
        ChinaAuto Gasgoo.com
    </description>
    <author email="qix@gasgoo.com" href="http://www.gasgoo.com">
        qix
    </author>
    <content src="index.html"/>
    <access origin="*"/>
    <preference name="pageBounce" value="false"/>
    <preference name="appBackground" value="rgba(0,0,0,0.0)"/>
    <preference name="windowBackground" value="rgba(0,0,0,0.0)"/>
    <preference name="frameBackgroundColor" value="rgba(0,0,0,0.0)"/>
    <preference name="hScrollBarEnabled" value="true"/>
    <preference name="vScrollBarEnabled" value="true"/>
    <preference name="autoLaunch" value="true"/>
    <preference name="fullScreen" value="false"/>
    <preference name="autoUpdate" value="true"/>
    <preference name="smartUpdate" value="false"/>
    <preference name="debug" value="false"/>
    <preference name="statusBarAppearance" value="true"/>
    <permission name="readPhoneState"/>
    <permission name="internet"/>
</widget>
